@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
  text-align: center;
  padding: 0;
}
