@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Medium.woff2);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}

:root {
  --color1: #ffffff;
  --color2: #f7f7f7;
  --color3: #151515;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #921eff;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #6316ac;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  background: none;
  outline: none;
  border: 1px solid whitesmoke;
  color: #ffffff;
  letter-spacing: 0.1rem;
  transition: 0.4s ease;
}

button:hover {
  background: whitesmoke;
  color: black;
  border: 1px solid black;
}

nav {
  margin: 0 auto;
  background: var(--color1);
  padding: 0.8rem 0;

  font-weight: 1000;
  font-size: 1rem;
  position: sticky;
  top: 0;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

nav li {
  padding: 0.6rem 0;
  cursor: pointer;
  position: relative;
}

nav li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  left: 0;
  background-color: #921eff;
  width: 100%;
  height: 0.4rem;
  transform: scaleX(0); /* start hidden */
  transform-origin: center;
  transition: transform 0.3s ease;
}

nav li:hover::before {
  transform: scaleX(1);
}

#language {
  padding: 0.5rem 0.6rem;
  background: rgb(197, 197, 197);
  border-radius: 100vh;
}

header {
  background: url(./assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3rem;
  text-transform: uppercase;
  font-weight: 1000;
  color: #ffffff;
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
}

h1 {
  font-size: 1.8rem;
}

header img {
  width: 70%;
  height: auto;
}

header button {
  padding: 1rem;
}

.subheader {
  padding: 1.3rem 0;
  font-weight: 600;
  font-size: 1.4rem;
}

.subheader p {
  text-align: center;
  line-height: 1.8;
  font-size: 1.1rem;
}

.menu {
  background: var(--color3);
  color: #ffffff;
  padding: 3rem;
}

.menu .container {
  display: flex;
  justify-content: space-between;
  gap: clamp(1rem, 3vh, 2rem);
}

.menu-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.menu-sub-logo {
  padding: 1rem;
}

.menu-sub h3 {
  text-transform: uppercase;
}

.menu-sub p {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.menu button {
  padding: 0.8rem;
}

.news {
  background-color: var(--color2);
  padding: 3rem 0;
  font-weight: 700;
}

.news-top {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 75% 25%;
}

.news-top h2 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3rem;
}

.news-top button {
  background: whitesmoke;
  color: black;
  border: 1px solid black;
  padding: 1rem;
}

.news-top-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.news-top-right {
  display: flex;
  align-items: center;
}

.news button:hover {
  background: black;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.news-bottom {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: clamp(1rem, 3vh, 2rem);
}

.news-bottom p {
  font-weight: 600;
  font-size: 0.8rem;
}

.news-bottom-sub {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1rem;
  line-height: 1.5;
}

.news a {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}
